apiVersion: apps/v1
kind: Deployment
metadata:
  name: astro
spec:
  replicas: 1
  selector:
    matchLabels:
      app: astro
  template:
    metadata:
      labels:
        app: astro
    spec:
      containers:
        - name: astro
          image: ${CONTAINER_REPO}/${IMAGE_NAME}:${BUILD}-${IMAGE_TAG}
          imagePullPolicy: Always
          ports:
            - containerPort: 80
